---
import Layout from "../layouts/Layout.astro";
import { Link, Heading, Flex } from '@radix-ui/themes';
import AutoEvaluation from "@components/AutoEvaluation";
---

<Layout title="Welcome to Astro.">
    <main>
      <Heading>Auto évaluation</Heading>
      <AutoEvaluation>
        <!-- ... -->
      </AutoEvaluation>
    </main>
    <Flex justify="end">
      <Link href="../saisie-sae">Retour</Link>
      <Link href="../plan-actions">Prochaine étape</Link>
    </Flex>
</Layout>