---
import { ButtonPrev } from "@/components/ButtonNext";
import { Combobox } from "@/components/Combobox";
import TextArea from "@/components/TextAreaComponent";
import { PageHeading, PageSubHeading } from "@/components/Typography";
import { Flex, Separator, Button } from "@radix-ui/themes";
import TableActionPlan from "../components/TableActionPlan";
import Layout from "../layouts/Layout.astro";
import { CheckIcon } from "@radix-ui/react-icons";

const handleChange = (e) => {
  console.log(e);
};
---

<Layout title="Plan d'actions">
  <PageHeading title="Plan d'Actions" badgeTitle="Etape 3" badgeColor="green" />

  <Flex direction="column" gap="5" align="center" width="100%" mb="6">
    <Flex direction="column" gap="2">
      <PageSubHeading title="Mes axes d'améliorations" />

      <TableActionPlan client:load onChange={handleChange} />
    </Flex>

    <Separator style={{ width: "30%" }} />

    <Flex direction="column" gap="2" width="100%">
      <PageSubHeading title="Compétence clé" />

      <Combobox />
    </Flex>

    <Separator style={{ width: "30%" }} />

    <Flex direction="column" gap="2" width="100%">
      <PageSubHeading title="Sous-Compétence" />

      <Combobox />
    </Flex>

    <Separator style={{ width: "30%" }} />

    <Flex direction="column" gap="2" width="100%">
      <PageSubHeading title="Actions à mener" />

      <TextArea />
    </Flex>
  </Flex>

  <Flex justify="end" direction="row" m="3" gapX="3">
    <ButtonPrev name="Précendent" href="/auto-evaluation" />
    <Button color="indigo" size="4" variant="surface">
      <CheckIcon />
      Valider
    </Button>
  </Flex>
</Layout>
