---
import { Theme } from "@radix-ui/themes";
import TextAreaComponent from "../components/TextAreaComponent";
---

<!doctype html>
<html lang="en">
  <head></head>...
  <body>
    <header>
      <nav>
        <a href="/">Textarea</a>
      </nav>
    </header>
    <main>
      <TextAreaComponent client:load>
        <!-- ... -->
      </TextAreaComponent>
    </main>
  </body>

</html>
