---
import { Theme } from "@radix-ui/themes";
import TextArea from "../components/TextAreaComponent";
---

<!doctype html>
<html lang="en">
  <head></head>...
  <body>
    <header>
      <nav>
        <a href="/">Textarea</a>
      </nav>
    </header>
    <main>
      <TextArea client:load>
        <!-- ... -->
      </TextArea>
    </main>
  </body>


</html>
