:root {
  --quick-nav-display: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.radar-el-label text {
  font-size: 1rem;
  cursor: pointer;
}

.treemap-text-label text {
  font-size: 2rem;
  cursor: pointer;
}

.treemap-rect-label {
  cursor: pointer;
}

[role="listbox"] ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1240px) {
  :root {
    --quick-nav-display: block;
  }
}
