---
import { LayoutTheme } from "./LayoutTheme";

interface Props {
  title: string;
}

const { title } = Astro.props;

import "@radix-ui/themes/styles.css";
import "@reach/combobox/styles.css";
import "./index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
    <title>{Astro.props.title}</title>
    <!-- <ClientRouter /> -->
  </head>
  <body>
    <LayoutTheme client:load>
      <slot />
    </LayoutTheme>
  </body>
</html>
